basicsr
gradio==3.47.1
insightface==0.7.3
numpy
onnx
onnxruntime
opencv-python
opennsfw2==0.10.2
pillow
protobuf
psutil
realesrgan
tensorflow
torch
tqdm


# 再安装一下openacv
#sudo apt-get install libgtk2.0-dev pkg-config
#pip install opencv-contrib-python
